<mat-card class="audio-card">
    <mat-card-header>
        <mat-card-title>
            <h2>{{audioInfo.audioName}}</h2>
        </mat-card-title>
        <mat-card-subtitle>{{audioInfo.audioAuthor}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        Description of the audio?
    </mat-card-content>
    
    <mat-card-actions>
        <button mat-mini-fab>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
        <button mat-mini-fab color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon"></mat-icon>
        </button>
    </mat-card-actions>
</mat-card>