[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
gutils = {git = "https://github.com/MichaelWomack/gutils.git", editable = true, ref = "v0.4.0"}


[dev-packages]

pytest = "*"
pytest-mock = "*"
